
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow read, write: if isOwner(userId);

      match /dailyProgress/{date} {
        allow read, write: if isOwner(userId);
      }
      match /reviewerProgress/{reviewerId} {
        allow read, write: if isOwner(userId);
      }
      match /reviewerBookmarks/{reviewerId} {
        allow read, write: if isOwner(userId);
      }
    }

    match /subjects/{subjectId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /topics/{topicId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /reviewers/{reviewerId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /questions/{questionId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }

    match /pets/{petId} {
      allow get, list: if true;
      allow create, update, delete: if false;
    }
  }
}
